/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-family: 'Noto Sans TC', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    height: 40px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.menu{
    display: flex;
    align-items: center;
}
.menu li{
    width: 60px;
    text-align: center;
    list-style-type: none;
}
.menu a{
    color: #3F5D45;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}

.content{
    width: 940px;
    margin: 0 auto;
    padding-top: 30px;
    /* border: 1px solid #000; */
}

.main{
    max-width: 1200px; 
    padding-top: 60px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
.leftdiv h2{
    font-size: 24px;
    height: 56px;
    background: #3F5D45;
    color: #fff;
}
.leftdiv li{
    background: #FFFFFF;
    height: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border:1px solid #EAF0ED;
}
.leftdiv{
    display: flex;
    width: 300px;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    
} 
.leftdiv a{
    color: #3F5D45;
    text-decoration: none;
}
#title {
   background-color:  #3F5D45; 
    color: #EAF0ED;
}
#tab{
    background-color: #EAF0ED;
}


.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 620px;
    margin-right: -10px;
    margin-left: -10px;
    /* border:1px solid  #000; */
}
.card-item{
    width:50%; 
    /* list-style-type: none; */
    margin-top: 20px;
    width: 300px;
    text-align: center;
    position: relative;
}
.card-item img{
    max-width: 100%;
    height: auto;
}
.card-item a{
    background-color: #EAF0ED;
    color: #3F5D45;
    padding: 25px 90px;  
    text-decoration: none;
    /* border: 1px solid black; */
    font-size: 24px;
    font-weight: bold;
    display: flex;
  }
  .card-item a:hover {
    background-color: #3F5D45;
    color: #EAF0ED;

  }
  .card-item a:active{
    background: #3F5D45;
    color: #EAF0ED;
  }
  .box{
      font-size: 18px;
      background-color: #3F5D45;
      color: #EAF0ED;
      width: 36px;
      height: 106px;
      position: absolute;
      left: 20px;
      Writing-mode:vertical-lr;
      letter-spacing: 3px;
      line-height:36px;
  }
  .love{
    position: absolute;
    right: 22px;
    top:19px;
}

/* .box{
    height: 65px;
    width: 300px;
    background-color: #EAF0ED;
    
    justify-content: center;
    line-height: 65px;
} */

.bottom{
    font-size: 20px;
    width: 300px; 
    height: 56px;
    color:#3F5D45;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 60px;
    
}
.bottom p{
    border:1px solid #EAF0ED ;
    width: 173px;
}
.bottom p1{
    border:1px solid #EAF0ED ;
    width: 127px;
    font-weight: bold;
}

.scroll{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 42px;
    justify-content: flex-end;
}
.scroll li{
    width: 60px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #EAF0ED;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll a{
    color:#3F5D45;
    text-decoration: none;
}
.tip{
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: bolder;
    background-color: #3F5D45;
}
.tip a{
    color:#EAF0ED;
    text-decoration: none;
}
.scroll img{
    display: flex; 
}

.container{
    background-color: #3F5D45;
    height: 116px;
}
.container2{
    background-color: #EAF0ED;
    height: 341px;
}

